<section id="jumbotron">
    <div class="container">
        <div class="wrapper image-on-top">

            <div class="message">
                <div class="text">
                    <h1>ACS AEM Projects</h1>
                    <p class="lead">The trifecta.</p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="projects-wrapper">
                <a href="/acs-aem-samples" title="ACS AEM Samples" class="left"><img src="/assets/acs-aem-samples/images/giant-package-icon.png"/></a>
                <a href="/acs-aem-commons" title="ACS AEM Commons" class="center"><img src="/assets/acs-aem-commons/images/giant-package-icon.png"/></a>
                <a href="/acs-aem-tools" title="ACS AEM Tools" class="right"><img src="/assets/acs-aem-tools/images/giant-package-icon.png"/></a>
            </div>
        </div>
    </div>
</section>
