<ul class="nav">
    <li><a href="{{ site.baseurl }}acs-aem-commons/index.html">ACS AEM Commons</a></li>
    <li><a href="{{ site.baseurl }}acs-aem-commons/index.html#features">Features</a></li>
    <li><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons" target="_blank">GitHub Project</a></li>
    <li><a href="{{ site.baseurl }}acs-aem-commons/apidocs/">API Docs</a></li>
    <li><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/blob/master/CONTRIBUTING.md" target="_blank">Contribute</a></li>
</ul>