<li>
    <h4>March 24, 2014 Release 1.5.0 now available!</h4>

    <p>New features - Named Image Transform Servlet, ACL Packager, Responsive Column Control, Sitemap Generator,
        MultiField Panel Widget, Vanity Path Uniqueness Check, Syslog Integration, LinkedIn OAuth2 support.</p>
</li>

<li>
    <h4>March 24, 2014 Release 1.5.0 now available!</h4>

    <p>New features - Named Image Transform Servlet, ACL Packager, Responsive Column Control, Sitemap Generator,
        MultiField Panel Widget, Vanity Path Uniqueness Check, Syslog Integration, LinkedIn OAuth2 support.</p>
</li>