<li>
    <h4>March 24, 2014 Release 1.5.0 now available!</h4>

    <p>New features - Named Image Transform Servlet, ACL Packager, Responsive Column Control, Sitemap Generator,
        MultiField Panel Widget, Vanity Path Uniqueness Check, Syslog Integration, LinkedIn OAuth2 support.</p>
</li>

<li>
    <h4>March 24, 2014 Release 1.5.0 now available!</h4>

    <p>New features - Named Image Transform Servlet, ACL Packager, Responsive Column Control, Sitemap Generator,
        MultiField Panel Widget, Vanity Path Uniqueness Check, Syslog Integration, LinkedIn OAuth2 support.</p>
</li>


{% for post in site.categories.news %}
<li>
    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
    <span class="title">{{ post.title }}</span>
    <span class="description">{{ post.description }}</span>
</li>
{% endfor %}
