<li class="slide">

    <div class="container">
        <div class="wrapper">

            <div class="primary image">
                <img class="img-responsive" src="/assets/tools/images/giant-package-icon.png"/>
            </div>    

            <div class="secondary message">
                <div class="text">
                    <h1>ACS AEM Tools</h1>
                    <p class="lead">A suite of AEM tools aimed at making developer lives easier!</p>
                </div>
                <a href="/acs-aem-tools" class="action-btn">Check out ACS AEM Tools</a>
            </div>
        
        </div>
    </div>    

</li>