<li class="slide">

    <div class="container">
        <div class="wrapper image-on-right">
            <img class="slide-image" src="/assets/acs-aem-tools/images/giant-package-icon.png"/>

            <div class="message">
                <div class="text">
                    <h1>ACS AEM Tools</h1>
                    <p class="lead">A suite of open source AEM tools aimed at making developer lives easier!</p>
                </div>
                <a href="/acs-aem-tools" class="action-btn">Check out ACS AEM Tools</a>
            </div>
        
        </div>
    </div>    

</li>