<li class="slide">

    <div class="container">
        <div class="stacked">

            <img class="img-responsive" src="/assets/acs-aem-projects/slides/intro/package-icons.png"/>
            
            <div class="message">
                <div class="text">
                    <h1>ACS AEM Projects</h1>
                    <p class="lead">We like what we do.</p>
                </div>
                <a href="#projects" class="action-btn">Checkout our Projects</a>
            </div>
         
        </div>
    </div>    

</li>