
.features {

  .stripe {
    margin-bottom: 2em;
  }

  .feature {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(4);

    height: 350px;
    text-align: center;
    position: relative;

    .feature-image-wrapper {
      display: inline-block;
      margin: 0 auto;

      img {
        border: 1em solid white;
        @include rounded-corners(0);
        @include shadow();
      }
    }

    h3 {
      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      color: black;
      margin: 1em 0 .5em 0;
    }

    p {
      color: #999;
      font-weight: 200;
      margin-bottom: 4rem;
    }

    .feature__banner {
      background: transparent no-repeat top left;
      width: 119px;
      height: 119px;
      position: absolute;
      top: 0;
    }

    .new {
      background-image: url('/assets/shared/images/new-banner.png');
      @extend .feature__banner;
    }

    .updated {
      background-image: url('/assets/shared/images/updated-banner.png');
      @extend .feature__banner;
    }

    .beta {
      background-image: url('/assets/shared/images/beta-banner.png');
      @extend .feature__banner;
    }

    .deprecated {
      background-image: url('/assets/shared/images/deprecated-banner.png');
      @extend .feature__banner;
    }
  }
}



/* Sub-features */
.sub-features {
  .sub-feature {

    .feature {
      height: 300px !important;
    }
  }
}

.sub-feature .feature-image-wrapper {

  .sub-feature__banner {
    background: transparent no-repeat top left;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
  }

  .new {
    background-image: url('/assets/shared/images/new-banner.png');
    @extend .sub-feature__banner;
  }

  .updated {
    background-image: url('/assets/shared/images/updated-banner.png');
    @extend .sub-feature__banner;
  }

  .beta {
    background-image: url('/assets/shared/images/beta-banner.png');
    @extend .sub-feature__banner;
  }

  .deprecated {
    background-image: url('/assets/shared/images/deprecated-banner.png');
    @extend .sub-feature__banner;
  }

  box-shadow: 0 2px 7px rgba(0,0,0,0.25);
  .img-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}