
$quick-links-image-width: 36px;
	
.quick-links {
	background-color: transparent;
	display: block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;

	.quick-links-entry {
		display: inline;			
		list-style: none;
		margin: 0;
		padding: 0;


		.quick-links-image {
			width: $quick-links-image-width;
			margin-left: 1em;			
		}
	}
}