@import "vendor/bootstrap";
@import "vendor/bigfoot";
@import "vendor/prettify";
@import "vendor/syntax";
@import "core";
@import "icons";
@import "home";
@import "jumbotron";
@import "feature-filters";
@import "feature-cards";
@import "feature-docs";
@import "quick-links";
@import "contributors";

.color-block {
  background: no-repeat center top fixed;
  background-size: cover !important;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header.top {

  .navbar {
    background: transparent;

    padding: .5em 0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    -moz-background-clip: border; /* Firefox 3.6 */
    -webkit-background-clip: border; /* Safari 4? Chrome 6? */
    background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: padding; /* Firefox 3.6 */
    -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

    //-moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content; /* Safari 4? Chrome 6? */
    background-clip: content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

    .nav {
      list-style: none;
      font-size: 1.25em;
      display: inline-block;

      li {

        display: block;
        @media (min-width: $screen-md-min) {
          display: inline-block;
        }

        a {
          color: white;
          margin: 0;
          padding: 0 2em 0 0;

          &:hover {
            background: transparent;
          }
        }
      }

      li:first-child {
        font-weight: normal;
      }

      li.acs-aem-projects {
        display: none;
        float: right;

        a {
          background: url('/assets/shared/images/icon-lightbulb.png') center center;
          display: block;
          width: 37px;
          height: 37px;
          position: absolute;
          top: -5px;
        }
      }

    }
  }
}

.stripe {
  @extend .color-block;

  background-size: cover;
  height: 5em;
  color: white;

  h2 {
    line-height: 1.75em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  }
}

.news {
  margin-top: 1.25em;
  margin-bottom: .5em;

  .news-entry {
    margin-bottom: .5em;
  }

  .date {
    color: #999;
  }

  .title {
    color: black;
    font-weight: normal;
  }
}

.acs-aem-bundles {
  background-color: white;
}

.img-wrapper {
  margin: 2em auto;
  max-width: 900px;
  text-align: center;
}

img.framed {
  border: solid 10px white;
  @include shadow();
}

#projects {
  a {
    color: black;

    &:hover {
      color: black;
    }
  }
}

footer {
  border-top: solid 1px #eee;
  padding: 2em 0 2em 0;
}

/* reusables */

ul.show-more-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li:first-child {
    display: block;
  }

  li {
    margin: 0;
    padding: 0;
    display: none;
  }
}

.comment-header {
  border-top: solid 1px #eee;
  color: #999;
  margin: 3em 0 1em 0;
  padding-top: .5em;
}