<section class="news">
    <div class="container">
        <ul class="show-more-list">

            {% for post in site.tags.acs-aem-tools-news %}
            <li class="news-entry">
                <span class="title">{{ post.title }}</span>
                @ <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
                &#x219d; <span class="description">{{ post.description }}</span>
            </li>
            {% endfor %}

            <a class="show-more" href="javascript:void();">Show more news &#xffec;</a>
        </ul>
    </div>
</section>
