<section class="alert">
    <div class="container">
        <h1>Attention!</h1>

        <h2>ACS AEM Commons 3.10.0 deployment to Adobe Public nexus repo delayed!</h2>

        <p>
            In the interim, please use the public BinTray artifact repository until the issue is resolved.
        </p>
        <ul>
            <li><a href="https://bintray.com/acs/releases"
                   target="_blank">ACS AEM Commons BinTray Release repository</a> > Set Me Up</li>
        </ul>
    </div>
</section>
