<section id="jumbotron" class="jumbotron--100-release">

    <div class="container">
        <div class="wrapper image-on-top" style="position: relative">
            <img class="img-responsive" src="/assets/acs-aem-commons/images/party-release.png"/>

            <div class="message">
                <div class="text">
                    <h1>ACS AEM Commons</h1>
                    <p class="lead">Version 4.0.0 is here!</p>
                </div>
                <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases"
                    class="action-btn">Download the AEM Package</a>
            </div>

            <div class="banner">ACS AEM Commons 4.0.0 supports AEM 6.3 and greater!</div>
        </div>
    </div>

</section>
