<section id="jumbotron">

    <div class="container">
        <div class="wrapper image-on-top" style="position: relative">
            <img class="img-responsive" src="/assets/acs-aem-commons/images/giant-package-icon.png"/>

            <div class="message">
                <div class="text">
                    <h1>ACS AEM Commons</h1>
                    <p class="lead">The wheel doesn't need reinventing</p>
                </div>
                <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases"
                    class="action-btn">Download the AEM Packages</a>
            </div>

            <div class="banner">Version {{ site.data.acs-aem-commons.version }} now available!</div>
        </div>
    </div>

</section>
