<section id="jumbotron" class="jumbotron--100-release">

    <div class="container">
        <div class="wrapper image-on-top" style="position: relative">
            <img class="img-responsive" src="/assets/acs-aem-commons/images/100th-release.png"/>

            <div class="message">
                <div class="text">
                    <h1>ACS AEM Commons</h1>
                    <p class="lead">Version 3.18.0 celebrates our 100th release!</p>
                </div>
                <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases"
                    class="action-btn">Download the AEM Package</a>
            </div>

            <div class="banner">For AEM 6.2, 6.3 &amp; 6.4 use 3.x.x</div>
        </div>
    </div>

</section>
