<div class="sub-features features">
    <div class="sub-feature features wrapper">
        {% assign sorted = (site.acs-aem-commons | sort: 'date') | reverse %}
        {% assign currentPagePath = page.path | remove: "index.md" %}
        {% for subpage in sorted %}
            {% capture subFeature %}{% if subpage.path contains currentPagePath and subpage.path != page.path %}true{% else %}false{% endif %}{% endcapture %}
            {% if subFeature == 'true' %}
                {% include shared/feature-card.html feature=subpage project=site.data.acs-aem-commons %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>

