<li class="slide">

    <div class="container">
        <div class="wrapper image-on-right">
            <img class="slide-image" src="/assets/acs-aem-commons/images/slides/acl-packager.png"/>
            
            <div class="message">
                <div class="text">
                    <h1>ACL Packager</h1>
                    <p class="lead">Generate packages of ACLs for specific User or Groups</p>
                </div>
                <a href="/acs-aem-commons/#features" class="action-btn">Learn more about ACL Packager</a>
            </div>
         
        </div>
    </div>    

</li>       