{% assign feature = include.feature %}
{% assign project = include.project %}

<div class="feature" data-filter-tags="all {{ feature.feature-tags }}
 {% if feature.tags contains 'new' %} new 
 {% elsif feature.tags contains 'updated' %} updated {% endif %}">
    <a class="feature-image-wrapper" href="{{ feature.url }}">

        {% if feature.tags contains 'beta' %}<div class="beta"></div>
        {% elsif feature.tags contains 'new' %}<div class="new"></div>
        {% elsif feature.tags contains 'updated' %}<div class="updated"></div>{% endif %}
		
        <img class="img-responsive"
             src="/{{ project }}{{ feature.thumbnail }}"/></a>

    <h3><a href="{{ feature.url }}">{{ feature.title }}</a></h3>

    <p>{{ feature.description }}</p>
</div>
	