{% assign project = include.project %}

<div class="feature-filters">
	<ul>
		<li>
			<a data-filter-tags="all" href="#" class="active">All</a>
			<p></p>
		</li>
		<li>
			<a data-filter-tags="new" href="#">New</a>
			<p>New features added in the latest release</p>
		</li>
		<li>
			<a data-filter-tags="updated" href="#">Updated</a>
			<p>Recently updated features</p>
		</li>
		<li>
			<a data-filter-tags="standard" href="#">Standard</a>
			<p>Features that could (and should) be used in any AEM project</p>
		</li>		
		<li>
			<a data-filter-tags="component-dev" href="#">Component Dev</a>
			<p>Features aiding in Component development</p>
		</li>
		<li>
			<a data-filter-tags="backend-dev" href="#">Backend Dev</a>
			<p>Features aiding in Backend development</p>
		</li>
		<li>
			<a data-filter-tags="administration" href="#">Administration</a>
			<p>Features helping with administration of the AEM</p>
		</li>
		<li>
			<a data-filter-tags="authoring" href="#">Authoring</a>
			<p>Features aimed at enhancing the Authoring experience</p>
		</li>
	</ul>
	<h3 class="filter-description"></h3>
</div>
	