{% assign project = include.project %}

<div class="feature-filters">
	<ul>
		<li>
			<a data-filter-tags="all" href="#" class="active">All</a>
			<p></p>
		</li>
		<!--
		<li>
			<a data-filter-tags="new" href="#">New to ACS AEM Commons {{ site.data.acs-aem-commons.version }}</a>
			<p>Features added in ACS AEM Commons v{{ site.data.acs-aem-commons.version }}</p>
		</li>
		<li>
			<a data-filter-tags="updated" href="#">Updated in ACS AEM Commons {{ site.data.acs-aem-commons.version }}</a>
			<p>Features updated in ACS AEM Commons v{{ site.data.acs-aem-commons.version }}</p>
		</li>
		-->
		<li>
			<a data-filter-tags="aem-cs" href="#">AEM as a Cloud Service compatible</a>
			<p>Features work on AEM as a Cloud Service</p>
		</li>		
		<li>
			<a data-filter-tags="aem-65" href="#">AEM 6.5.10+ compatible</a>
			<p>These feature work on AEM 6.5.10+</p>
		</li>	
	</ul>
	<h3 class="filter-description"></h3>
</div>
	