{% assign feature = include.feature %}
{% assign project = include.project %}

<div class="feature" data-filter-tags="all {{ feature.feature-tags }}
{% if feature.initial-release == project.version or feature.initial-release == project.version60 %} new
{% elsif feature.last-updated-release == project.version or feature.last-updated-release == project.version60 %} updated {% endif %}">
    <a class="feature-image-wrapper" href="{{ feature.url }}">

        {% if feature.tags contains 'deprecated' %}<div class="deprecated"></div>
        {% elsif feature.tags contains 'beta' %}<div class="beta"></div>
        {% elsif feature.initial-release contains project.version or feature.initial-release contains project.version60 %}<div class="new"></div>
        {% elsif feature.last-updated-release contains project.version or feature.last-updated-release contains project.version60 %}<div class="updated"></div>{% endif %}
		
        <img class="img-responsive"
             src="{{ feature.url }}/../thumbnail.png" alt="{{ feature.title }}"/></a>

    <h3><a href="{{ feature.url }}">{{ feature.title }}</a></h3>

    <p>{{ feature.description }}</p>
</div>
	