<head>
	<!--
              ::                                                ::
              ..                                              ::;:
        ... ..::.osS$S&ss.         .,/s#`#Ss,.        ./mS$$$Sms;::: ::::
    ::  ::: :;x#S$&'~`&S$$&.     .%$$S`    "%$$%    ,C$$$!~~"SS$$S;
            .a$$%       `$$$S   ;$$$S       !SSS;::;$$$&:      ""'
            l$$$!        l$$$l {$$$$                C&&$$$mmms...
            $$$$         ;$$ssss$$$%                 ``~"&SSSS$$$SSs
            S$$$          #$$$  $$$%         ::sss:::          `$$$$S
            :S$$S      ++;%$$$:;S#$##::    :::S$$???S$$s        K$SS;::: :
       ;:: ::"S$$s,.. ,s$"$$$$? #$$$$s       $$$$! ::;SSSs.. .s$$$S;:
              ::"PSS$S!"' :$$?~~  `S$$$s. ssS$!'     ::`"PS$$$S"'' ::
  !+++ +++++++++        +++    ++++   ``"^"'    ++!+++  +       ++    +++++++!

                            ::  ACS  ......   2014 ::
	-->

    <base href="{{ site.baseurl }}" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="tags" content="{% for tag in page.tags %}{{ tag }} {% endfor %}">

    <link rel="stylesheet" href="/assets/shared/fonts/source-sans/stylesheet.css">
    <link rel="stylesheet" href="/assets/{{ include.project }}/css/styles.css">
    <link rel="shortcut icon" href="/assets/{{ include.project }}/images/favicon.ico">
    <script>
    var digitalData = {
        page : {
            pageInfo : {
                pageName : "{{ page.title }}",
                category : {
                }
            }
        },
        event : []
    };
    </script>
    
    {% include shared/analytics.html %}
</head>