		<ul class="quick-links">
			<li class="quick-links-entry">
					<a class="quick-links-link" 
					title="ACS Commons" 
					href="/acs-aem-commons"><img class="quick-links-image" src="/assets/acs-aem-commons/images/giant-package-icon.png" alt="ACS Commons"/></a>
			</li>
			
			<li class="quick-links-entry">
					<a class="quick-links-link" 
					title="ACS Tools" 
					href="/acs-aem-tools"><img class="quick-links-image" src="/assets/acs-aem-tools/images/giant-package-icon.png" alt="ACS Tools"/></a>
			</li>
			
			<li class="quick-links-entry">
					<a class="quick-links-link" 
					title="ACS Samples" 
					href="/acs-aem-samples"><img class="quick-links-image" src="/assets/acs-aem-samples/images/giant-package-icon.png" alt="ACS Samples"/></a>
			</li>			
		</ul>
