<section class="who-we-are">
    <div class="container">

        <h4>Who we are</h4>

        <p>
            We are developers that build things for Adobe products including Adobe Experience Manager (AEM, fka CQ, fka Communique).        
        </p>

        <p>
            Please note that the name of this Github organization and repository are from a legacy ownership of the this project. 
            Adobe Consulting Services no longer maintains this project, rather the AEM developer community does.
        </p>
    </div>
</section>