---
layout: acs-aem-commons_home
title: Adobe AEM Commons
description: A way to bootstrap AEM project with common functionality, a set of reusable components, and an AEM development toolkit.
---
<!-- How to use -->
<section class="introduction" id="introduction">
    <div class="container">
        <div class="wrapper infos-with-icon">

            <div class="info-with-icon">
                <div class="icon icon-check"></div>

                <h4>What ACS AEM Commons is!</h4>

                <p>
                    A way to <em>bootstrap AEM project</em> with common functionality,
                    a set of <em>reusable components</em>,
                    and an <em>AEM development toolkit</em>.
                </p>

            </div>

            <div class="info-with-icon">
                <div class="icon icon-x"></div>

                <h4>What ACS AEM Commons isn't!</h4>

                <p>
                    A <em>framework</em>,
                    library with <em>required</em>
                    <a href="/acs-aem-commons/pages/thirdparty.html">3rd party dependencies</a>,
                    or a library that <em>changes</em> standard AEM functionality by default.
                </p>
            </div>

            <div class="info-with-icon">
                <div class="icon icon-gear"></div>

                <h4>How to use ACS AEM Commons!</h4>

                <p>
                    Add as a 
                    <a href="/acs-aem-commons/pages/maven.html">sub package</a> 
                    from 
                    <a href="http://repo.adobe.com/nexus/content/groups/public/com/adobe/acs/acs-aem-commons-content/{{ site.data.acs-aem-commons.version }}/">repo.adobe.com</a> using Maven or manually deploy the 
                    <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases">package</a> using package manager.
                    <sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup>
                </p>
            </div>

        </div>
    </div>
</section>


<!-- Features -->
<section class="features" id="features">
    <div class="stripe">
        <div class="container">
            <h2>Features</h2>
        </div>
    </div>

    <div class="container">
        {% include shared/feature-filters.html %}
    </div>
    
    <div class="container">
        <div class="wrapper">

            {% assign sorted = site.acs-aem-commons | sort: 'date' | reverse %}
            {% for page in sorted %}
            {% assign depth = page.path | split: '/' | size %}
                {% if depth == 4 %}
                    {% include shared/feature-card.html feature=page project=site.data.acs-aem-commons %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Footnotes -->
<div class="footnotes" id="footnotes">
    <ol>
        <li class="footnote" id="fn:1">
            <p>In some circumstances, manual installation using the package manager will not appear to successfully complete. If this happens, reloading the package manager UI is necessary.<a href="#fnref:1" title="return to article"> ↩</a><p>
        </li>
    </ol>
</div>

{% include shared/acs-aem-bundles.html %}

{% include shared/who-we-are.html %}

{% include shared/contributors.html %}

{% include shared/projects.html %}

