---
layout: acs-aem-commons_home
title: Adobe AEM Commons
description: xxxx
---

<!-- News -->
{% include acs-aem-commons/news.html %}

<!-- How to use -->
<section class="introduction">
    <div class="container">
        <div class="wrapper infos-with-icon">

            <div class="info-with-icon">
                <div class="icon icon-check"></div>

                <h4>What ACS AEM Commons <u>is</u>!</h4>

                <p>
                    A way to <em>bootstra AEM project</em> with common functionality,
                    a set of <em>reusable components</em>,
                    and an <em>AEM development toolkit</em>.
                </p>

            </div>

            <div class="info-with-icon">
                <div class="icon icon-x"></div>

                <h4>What ACS AEM Commons <u>isn't</u>!</h4>

                <p>
                    A <em>framework</em>,
                    library with <em>required</em>
                    <a href="{{ site.baseurl }}/pages/thirdparty.html">3rd party dependencies</a>,
                    or a library that <em>changes</em> standard AEM functionality by default.
                </p>
            </div>

            <div class="info-with-icon">
                <div class="icon icon-gear"></div>

                <h4>How to <u>use</u> ACS AEM Commons!</h4>

                <p>
                    Add as a <em>sub package</em> from repo.adobe.com using Maven
                    or manually deploy the <em><a href="#">package</a> using package manager</em>.
                </p>
            </div>

        </div>
    </div>
</section>


<!-- Features -->
<section class="features">
    <div class="stripe">
        <div class="container">
            <h2 id="features">ACS AEM Commons Features</h2>
        </div>
    </div>

    <div class="container">
        <div class="wrapper">
                {{ page.project }}

            {% for post in site.tags.acs-aem-commons-features %}
                {% assign mod2 = forloop.index|modulo:2 %}
                {% assign mod3 = forloop.index|modulo:3 %}

                {% include shared/feature-card.html feature=post project=site.data.acs-aem-commons.name %}

                {% if mod2 == 0 %}
                <div class="clearfix visible-sm visible-xs hidden-md hidden-lg"></div>
                {% endif %}

                {% if mod3 == 0 %}
                <div class="clearfix hidden-sm hidden-xs visible-md visible-lg"></div>
                {% endif %}

            {% endfor %}

        </div>

    </div>
</section>

{% include shared/who-we-are.html %}

{% include shared/projects.html %}

