---
layout: acs-aem-samples_home
title: ACS AEM Samples
description: Sample implementations of the common building blocks for AEM applications.
codeURL: https://github.com/Adobe-Consulting-Services/acs-aem-samples/tree/master/bundle/src/main/java/com/adobe/acs/samples
---
<!-- How to use -->
<section class="introduction">
    <div class="container">
        <div class="wrapper infos-with-icon">

            <div class="info-with-icon">
                <div class="icon icon-check"></div>

                <h4>What ACS AEM Samples is!</h4>

                <p>
                    A collection of <em>well commented</em> AEM code samples of <em>usual building blocks</em>.
                </p>

            </div>

            <div class="info-with-icon">
                <div class="icon icon-x"></div>

                <h4>What ACS AEM Samples isn't!</h4>

                <p>
                    An application package that should be installed.
                </p>
            </div>

            <div class="info-with-icon">
                <div class="icon icon-gear"></div>

                <h4>How to use ACS AEM Samples!</h4>

                <p>
               	 	Read and learn from the code and copy/paste classes as baseline for your own implementations.
                </p>
            </div>

        </div>
    </div>
</section>


<!-- Features -->
<section class="features">
    <div class="stripe">
        <div class="container">
            <h2 id="samples">Samples</h2>
        </div>
    </div>
    
    <div class="container">
        <div class="wrapper">
			
			<div class="col1">
			  
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/filters/impl" target="_blank">Filters</a></h3>
					<p>Executed in a chain against every HTTP request, Filters provide a powerful hook into the HTTP Request processing context.</p>
					
				</div>			  
			   
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/mbean/impl" target="_blank">MBeans</a></h3>
					<p>Interact with your code via JMX and the Apache Felix MBean Web UI.</p>
					
				</div>				   

				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/querybuilder/impl" target="_blank">Query Builder</a></h3>
					<p>AEM's Querybuilder provides an extensible abstraction for querying content in AEM.</p>
				</div>	
			
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/services/impl" target="_blank">OSGi Services</a></h3>
					<p>One of the most powerful abstractions in AEM! 
						OSGi services a the perfect place to develop business logic for 
						re-use across all your AEM applications.</p>
				</div>
			
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/servlets/impl" target="_blank">Servlets</a></h3>
					<p>HTTP Servlets. GET. POST. 'nuff said.</p>
				</div>
			</div>
		
			<div class="col2">				
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/adapterfactories/impl" target="_blank">Sling Adapter Factories</a></h3>					
					<p>Create your own .adaptTo(..) implementations.</p>
				</div>				

				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/resources/impl" target="_blank">Sling Resources</a></h3>
					<p>Sling tooling to mimic and extend Sling Resource abstractions.</p>					
				</div>	
							
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/resourceproviders/impl" target="_blank">Sling Resource Providers</a></h3>
					<p>Expose data not in the JCR as if it were in the JCR!</p>
				</div>			
			
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/schedulers/impl" target="_blank">Sling Scheduled Services</a></h3>
					<p>Run code on a given schedule or interval.</p>
				</div>
			
				<div class="samples-section">
					<h3><a href="{{ page.codeURL }}/workflow/impl" target="_blank">Workflow</a></h3>
					<p>Workflow provides a powerful toolset for applying business logic to content in AEM.</p>
				</div>
			</div>
        </div>
    </div>
</section>

{% include shared/who-we-are.html %}

{% include shared/projects.html %}

