---
layout: tools-home
title: ACS AEM Tools
description: ...
---

<!-- News -->
{% include tools/news.html %}


<!-- How to use -->
<section class="introduction">
    <div class="container">
        <div class="wrapper infos-with-icon">

            <div class="info-with-icon">
                <div class="icon icon-check"></div>

                <h4>What is ACS AEM Tools?</h4>

                <p>
                    A set of tools for making AEM 5.6 developer lives easier.
                </p>

            </div>

            <div class="info-with-icon">
                <div class="icon icon-gear"></div>

                <h4>How do I use ACS AEM Tools?</h4>

                <p>
                    ACS AEM Tools is <em>ONLY</em> for use on <em>development and QA environments</em>.
                    Download the latest release as a CQ Package and install via Package Manager.
                </p>
            </div>

            <div class="info-with-icon">
                <div class="icon icon-gear"></div>

                <h4>How to <u>use</u> ACS AEM Commons!</h4>

                <p>
                    Add as a <em>sub package</em> from repo.adobe.com using Maven
                    or manually deploy the <em><a href="#">package</a> using package manager</em>.
                </p>
            </div>

        </div>
    </div>
</section>


<!-- Features -->
<section class="features">
    <div class="stripe">
        <div class="container">
            <h2 id="features">ACS AEM Tools Features</h2>
        </div>
    </div>

    <div class="container">
        <div class="wrapper">
            {% for post in site.tags.acs-aem-tools-features %}

                {% assign mod2 = forloop.index|modulo:2 %}
                {% assign mod3 = forloop.index|modulo:3 %}

                {% include shared/feature-card.html feature=post project=page.project %}

                {% if mod2 == 0 %}
                <div class="clearfix visible-sm visible-xs hidden-md hidden-lg"></div>
                {% endif %}

                {% if mod3 == 0 %}
                <div class="clearfix hidden-sm hidden-xs visible-md visible-lg"></div>
                {% endif %}

            {% endfor %}
        </div>

    </div>
</section>

{% include shared/who-we-are.html %}