<li class="slide">

    <div class="container">
        <div class="wrapper image-on-bottom">
            <img class="slide-image" src="/assets/acs-aem-tools/images/slides/aem-fiddle.png"/>
            
            <div class="message">
                <div class="text">
                    <h1>AEM Fiddle</h1>
                    <p class="lead">Web IDE perfect for POC’s, experimenting and running ad hoc scripts</p>
                </div>
                <a href="/acs-aem-tools/features/aem-fiddle.html" class="action-btn">Learn about AEM Fiddle</a>
            </div>
         
        </div>
    </div>    

</li>