<li class="slide">

    <div class="container">
        <div class="wrapper image-on-right">
            <img class="slide-image" src="/assets/acs-aem-tools/images/slides/explain-query.png"/>
            
            <div class="message">
                <div class="text">
                    <h1>Explain Query</h1>
                    <p class="lead">Understand how Oak is executing your queries</p>
                </div>
                <a href="/acs-aem-tools/features/explain-query.html" class="action-btn">Learn about Explain Query</a>
            </div>
         
        </div>
    </div>    

</li>