---
layout: acs-aem-commons_default
---
<script>
    digitalData.page.pageInfo.category.pageType = "Feature";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Commons";
</script>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section class="feature-doc">
            <div class="feature-doc-header">
                <div class="feature-doc-header-title">

                    <h1>
                        {{ page.title }}
                    </h1>

                    {% if page.tags contains 'deprecated' %}
                    <span class="deprecated">Deprecated</span>
                    {% elsif page.tags contains 'beta' %}
                    <span class="beta">Beta</span>
                    {% elsif page.initial-release == site.data.acs-aem-commons.version %}
                    <span class="new">New!</span>
                    {% elsif page.initial-release == site.data.acs-aem-commons.version60 %}
                    <span class="new">New!</span>
                    {% elsif page.last-updated-release == site.data.acs-aem-commons.version %}
                    <span class="updated">Updated</span>
                    {% elsif page.last-updated-release == site.data.acs-aem-commons.version60 %}
                    <span class="updated">Updated</span>
                    {% endif %}

                </div>

                {% if page.initial-release %}
                <p class="available-since">Available since version {{page.initial-release}}</p>
                {% endif %}
            </div>

            {% unless page.tags contains 'aem-cs' or page.tags contains 'deprecated' %}
                {% include acs-aem-commons/aemcs-incompatible.html %}
            {% endunless %}

            {{ content }}

        </section>
    </div>
</div>
