---
layout: acs-aem-tools_base
---
<script>
    digitalData.page.pageInfo.category.pageType = "Information";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Tools";
</script>
<div class="color-block">
    <header class="top">
        <nav class="navbar" role="navigation">
            <div class="container">
                {% include shared/quick-links.html %}
                {% include acs-aem-tools/nav.html %}
            </div>
        </nav>
    </header>
</div>

<div class="content page" role="main">
    <div class="container">
        {{ content }}
    </div>
</div>


