---
layout: acs-aem-projects_base
---
<div class="home">
	<div class="color-block">
	    <header class="top">
	        <nav class="navbar" role="navigation">
	            <div class="container">
					{% include shared/quick-links.html %}																							
	                {% include acs-aem-projects/nav.html %}
	            </div>
	        </nav>
	    </header>

	    {% include acs-aem-projects/jumbotron.html %}

	</div>

	{% include acs-aem-projects/news.html %}

	<div class="page content" role="main">
	    {{ content }}
	</div>
</div>