<!DOCTYPE html>
<html lang="en">
    {% include shared/head.html project=site.data.acs-aem-commons.name %}

    <body class="acs-aem-commons">
        <script>
            (function() {
                var today = new Date(),
                    month = today.getMonth(),
                    day = today.getDate();

                if (month === 2 && (day >= 23 && day <= 29)) {
                    document.querySelector('body').className += ' fv';
                }
            }());
        </script>
        {{ content }}
        
        {% include shared/footer.html %}

        {% include shared/footer-libs.html %}
        {% include shared/analytics-bottom.html %}
    </body>
</html>
