---
layout: acs-aem-commons_base
---
<script>
    digitalData.page.pageInfo.category.pageType = "Home";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Commons";
</script>
<div class="home">
    <div class="color-block">
        <header class="top">
            <nav class="navbar" role="navigation">
                <div class="container">
					{% include shared/quick-links.html %}					
                    {% include acs-aem-commons/nav.html %}
                </div>
            </nav>
        </header>

        {% include acs-aem-commons/jumbotron.html %}

    </div>
    {% include acs-aem-commons/news.html %}
    {% include acs-aem-commons/alert.html %}

    <div class="page content" role="main">
        {{ content }}        
    </div>
</div>