---
layout: acs-aem-samples_base
---
<script>
    digitalData.page.pageInfo.category.pageType = "Home";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Samples";
</script>
<div class="home">
    <div class="color-block">
        <header class="top">
            <nav class="navbar" role="navigation">
                <div class="container">
					{% include shared/quick-links.html %}					
                    {% include acs-aem-samples/nav.html %}
                </div>
            </nav>
        </header>

        {% include acs-aem-samples/jumbotron.html %}

    </div>

    <div class="page content" role="main">
        {{ content }}        
    </div>
</div>