---
layout: acs-aem-projects_base
---
<script>
    digitalData.page.pageInfo.category.pageType = "Information";
    digitalData.page.pageInfo.category.projectName = "Generic";
</script>
<div class="color-block">
    <header class="top">
        <nav class="navbar" role="navigation">
            <div class="container">
                {% include acs-aem-projects/nav.html %}
            </div>
        </nav>
    </header>
</div>

<div class="page content" role="main">
    <div class="container">
        {{ content }}
    </div>
</div>
