---
layout: acs-aem-commons_base
---
<script>
    digitalData.page.pageInfo.category.pageType = "Home";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Commons";
</script>
<div class="home">
    <div class="color-block">
        <header class="top">
            <nav class="navbar" role="navigation">
                <div class="container">
					{% include shared/quick-links.html %}					
                    {% include acs-aem-commons/nav.html %}
                </div>
            </nav>
        </header>

        {% if site.data.acs-aem-commons.version == "6.0.0" %}
            <!-- THIS IS TO NEVER EVER EVER BE ENABLED OVER 3/23 - 3/29 of ANY year EVER. PERIOD. -->
            {% include acs-aem-commons/jumbotron-major-release.html %}
        {% else %}
            {% include acs-aem-commons/jumbotron.html %}
        {% endif %}

    </div>

    <section class="news">
    <div class="container" style="text-align:center;">
       Please remember, ACS AEM Commons is <em>not</em> supported by Adobe Support. Log any issues to the <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/issues">project's Github issues</a>.
    </div>
    </section>


    <div class="page content" role="main">
        {{ content }}        
    </div>
</div>
