---
layout: acs-aem-commons_default
---
<script>
    digitalData.page.pageInfo.category.pageType = "Feature";
    digitalData.page.pageInfo.category.projectName = "ACS AEM Commons";
</script>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section class="feature-doc">
            <div class="feature-doc-header">
                <h1>
                    {{ page.title }}
                    {% if page.tags contains 'deprecated' %}
                    <span class="deprecated">Deprecated</span>
                    {% elsif page.tags contains 'beta' %}
                    <span class="beta">Beta</span>	
                    {% elsif page.initial-release == site.data.acs-aem-commons.version %}
                    <span class="new">New!</span>
                    {% elsif page.initial-release == site.data.acs-aem-commons.version60 %}
                    <span class="new">New!</span>
                    {% elsif page.last-updated-release == site.data.acs-aem-commons.version %}
                    <span class="updated">Updated</span>    				
                    {% elsif page.last-updated-release == site.data.acs-aem-commons.version60 %}
                    <span class="updated">Updated</span>    				
                    {% endif %}
                </h1>

                {% if page.initial-release %}
                <p class="available-since">Available since version {{page.initial-release}}</p>
                {% endif %}
            </div>

            {{ content }}

            {% include acs-aem-commons/comments.html %}
        </section>
    </div>
</div>
