---
layout: acs-aem-commons_base
---
<div class="home">
    <div class="color-block">
        <header class="top">
            <nav class="navbar" role="navigation">
                <div class="container">
                    {% include acs-aem-commons/nav.html %}
                </div>
            </nav>
        </header>

        {% include acs-aem-commons/jumbotron.html %}

    </div>

    {% include acs-aem-commons/news.html %}

    <div class="page content" role="main">
        {{ content }}        
    </div>
</div>