<li class="slide">

    <div class="container">
        <div class="wrapper">

            <div class="primary image">
                <img class="img-responsive" src="/assets/tools/images/slides/aem-fiddle.png"/>
            </div>

            <div class="secondary message">
                <div class="text">
                    <h1>AEM Fiddle</h1>
                    <p class="lead">Web IDE perfect for POC’s, experimenting and running ad hoc scripts</p>
                </div>
                <a href="#features" class="action-btn">Learn about AEM Fiddle</a>
            </div>
            
        </div>
    </div>    

</li>