<li class="slide">

    <div class="container">
        <div class="wrapper">

            <div class="secondary message">
                <div class="text">
                    <h1>ACS AEM Tools</h1>
                    <p class="lead">Your job is hard enough.</p>
                </div>
                <a href="#features" class="action-btn">Checkout the features!</a>
            </div>


            <div class="primary image">
                <img class="img-responsive" src="/assets/tools/images/giant-package-icon.png"/>
            </div>            
        </div>
    </div>    

</li>